.meta-filters label {display:block}
.select-meta-filters {float:right}
.filter-remove {font-weight: bold}

/* Suggest */
.cft_results {
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	display: none;
	z-index: 10000;
	border-width: 1px;
	border-style: solid;
}
.cft_results li {padding: 2px 5px; white-space: nowrap;	text-align: left}
.cft_match {text-decoration: underline}
.cft_over {cursor: pointer}

/* Suggest colors */
.cft_results {background-color: #fff; border-color: #808080}
.cft_results li {color: #101010}
.cft_match {color: #000}
.cft_over {background-color: #f0f0b8}
